mixin video(info)
  div
    h4
      a(href=`/videos/${info.id}`)=info.title 
    ul 
      li #{info.rating}/5
      li #{info.comments} comments.
      li Posted #{info.createdAt}.
      li #{info.views} views.